# Ignore patterns for jQuery Succinct plugin

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Build Process
node_modules
dist

# Project Specific
script.js
style.css
index.html